*{
    margin: 0;
    padding: 0;
}
html,body,#app{
    width: 100vw;
    height: 100vh;
}

em,i {
    font-style: normal;
}

li {
    list-style: none;
}

/*去掉表单自带的边框*/
input {
    outline: none;
}

/*去掉文本域自带的边框和可拉伸*/
textarea {
    outline: none;
    resize: none;
}

a {
    color: #666;
    text-decoration: none;
}

/* 清除浮动 */
.clearfix:after{
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.clearfix {
	*zoom:1;
}

.flex{
    display: flex;
}

.bgcolor{
    background-color: #409EFF;
}

.fontcolor{
    color: #409EFF;
}

.vertical_line{
    width: 2px;
    height: 30px;
    background-color: #fff;
    margin: 0 10px;
}